@import './variables.module.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './ruoyi.scss';
@import './mobile.scss';
@import './3D.scss';
@import 'element-plus/dist/index.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:
    'Montserrat',
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

html.dark .svg-icon,
html.dark svg {
  fill: var(--el-text-color-b12);
}
button {
  font-family:
    'Montserrat',
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
}
#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

// search面板样式
.panel,
.search {
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--el-border-color-light);
  background-color: var(--el-bg-color-overlay);
  padding: 0.75rem;
  transition: all ease 0.3s;

  &:hover {
    box-shadow: 0 2px 12px #0000001a;
    transition: all ease 0.3s;
  }
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}
/* 制作者 zhaoweijia  CSS样式归纳 开始*/
//表头样式
.main-header-h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: var(--el-text-color-b12);
}
.main-header-h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  color: var(--el-text-color-b12);
}
.main-header-h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  color: var(--el-text-color-b12);
}
.main-header-h4 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  color: var(--el-text-color-b12);
}
.main-header-h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: var(--el-text-color-b12);
}
.main-header-h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  color: var(--el-text-color-b12);
}
.main-header-h7 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: var(--el-text-color-b12);
}
//文字样式
.main-text-subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: var(--el-text-color-b12);
}
.el-dialog__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}
//提示框
.el-message-box .el-message-box__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
//QueryForm浮动的前提div样式
.query-parent {
  position: relative;
  height: auto;
  z-index: 9;
}
/* 制作者 zhaoweijia  CSS样式归纳 结束*/